@charset "ISO-8859-1";

.input-modal {
    line-height: 30px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #666;
  	display:block;
  	font-family:"Arial";

  	
}

.input-modal--date {
    line-height: 30px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #666;
    display:block;
    font-family:"Arial";


}


label::after{
	content : ": ";
	
}

.label-modal{

	display:block;
	font-family:"Arial";
	font-size: 17px;

}

.select-modal{
    border: 1px solid #e5e5e5;
    font-size: 17px;
    color: #666;
    border-radius: 3px;
  	display:block;
  	font-family:"Arial";
    -webkit-appearance: menulist-button;
    height: 30px;

}

.input-modal--lock {
    line-height: 30px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #666;
    background-color: #d3d9df;
    padding: 0 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display:block;
    font-family:"Arial";

}

.input_fields_wrap .remove_field {
    font-size: 0.80em;
}

.input_fields_wrap input[type=text] {
    padding: 0px 5px 0px 5px;
    margin: 2px 3px 3px 0;
    font-size: 0.90em;
    line-height: 0.90em;
    font-weight: normal;
}

/*sel*/

.page-title {
    font-size: 25px;
    font-weight: 600;
    color: #0c0c0c;
}

.nav-pills {
    position: relative;
    top: 13px;
}
.nav-pills .nav-link {
    background-color: none;
    color: #ffffff;
}

.nav-pills .nav-link.active {
    transition: none;
    border-bottom: solid 5px #feff3b;
    background-color: transparent;
    border-radius: 1px;
    color: #feff3b;
}

.new-item-btn {
    position: absolute;
    left: 520px;
    top: 59px;
    border: solid 1px #212529;
    background-color: #212529;
    color: white;
    z-index: 1;
}

.new-item-btn-nb {
    position: absolute;
    left: 520px;
    top: 8px;
    border: solid 1px #212529;
    background-color: #212529;
    color: white;
    z-index: 1;
}

.dataTables_wrapper .dataTables_length, .dataTables_filter {
    padding-top: 13px;
}

.table {
    margin-bottom: 2px;
    border-bottom: solid 1px #212529;
}

.card-header {
    background-color: #212529;
    padding-top: 0;
}

table.dataTable, table.dataTable th, table.dataTable td {
    padding-top: 8px;
}

.menu-sidebar .logo {
    background-color: #171c20;
    color: #feff3b;
}

pre > .table {
    border-bottom: none;
}

/*.modal-header, .modal-footer {*/
    /*background-color: #212529;*/
    /*border: solid 1px #212529;*/
    /*color: #ffffff;*/
/*}*/








